h1{
    text-align: center;
  }
  #inputText, #outputText{
      margin: 7px;
      padding:3px 5px;
  }
  hr{
    margin:none;
    padding: none;
    height:1px;
  }

  .container{
    margin: auto;
    width: 25%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    background-color: rgb(121, 116, 116);
    height: 440px;
    background-color: #713838;
  }
  .IO{
    font-size: 30px;
    padding: 15px 9px 0px 5px;
    margin: 10px 7px;
    font-weight: bold;
    text-align: right;
    width: 93%;
    height: 30%;
    border: none;
    background-color: #e7f2fc;
  }

  .row
  {
    display: inline-block;
    width: 100%;
  }
  .controls{
    text-align: center;
    width: 100%;
    padding: 0px 3px 0px 4px;
  }
  .calc-button{
   padding: 15px;
   font-weight: bold;
   font-size: 16px;
   border: none;
   border-radius: 3px;
   background-color: #F2F2F2;
   float: left;
   width: 23.5%;
   margin: 0 2px;
   /*border: 1px solid #000;*/
  }
  .row.row5{
    width: 100%;
    right: 10px;
    position: relative;
}
  
  #btnAC{
        float: right;
    }

#btnEquals{
    background-color: rgb(91, 127, 190);
    float:right;
}
#btnAC{
    background-color: #cb4141;
}
  /* .big{
    padding: 15px;
    margin:4px 4px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #7ea0d3;
    float: left;
    width: 64.5%;
    margin: 0 2px;
  }
  .small{
    padding: 15px;
    margin:4px 4px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    background-color: #c73d3d;
    float: left;
    width: 31.5%;
    margin: 0 2px;
   } */